# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jared Wilber
  email = j.wilber92@gmail.com

[alias]
  co = checkout
  br = branch
  cm = commit
  df = diff
  st = status
  pu = push
  pl = pull
[mergetool]
  path = vim
[core]
  editor = vim
